// Typography
$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.7.0/fonts' !default;

// Colors
$dark-purple:  #60467c;
$purple:       #7f5da4;
$light-purple: #dcbaff;

// Components
$navbar-height: 66px;
$logo-height: 44px;
