.pagina-categoria {
  #corpo > .conteiner {
    padding-top: 85px;
  }

  .ordenar-listagem {
    display: none;
  }

  .secao-principal {
    .coluna {
      display: none;
    }

    .conteudo {
      margin-left: 0;
    }
  }
}

.categoria-paginas {
  display: none;
}

.listagem {
  .listagem-linha {
    border-width: 0;
  }

  .imagem-produto {
    height: 230px;
  }

  .listagem-item {
    .nome-produto {
      font-weight: 600;
    }

    .preco-produto {
      margin-bottom: 5px;
      margin-top: 10px;

      strong {
        font-size: 16px;
      }
    }
  }

}
