// Checkout
// =============================================================================
.pagina-carrinho.carrinho-checkout {
  .conteiner-principal .conteiner {
    padding-top: 85px;
  }
}

.campos-pedido {
  .identificacao-title {
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
  }

  .identificacao {
    .control-group .submit-email.botao.principal {
      border-radius: 0 4px 4px 0;
      max-width: initial;
      min-width: initial;
      width: 125px;
    }

    .email-box {
      margin-right: 148px;

      input[type='text'] {
        border-radius: 4px 0 0 4px;
      }
    }
  }
}
