#rodape .institucional {
  background: #f7ed92;
}

.institucional-lead {
  color: #7f5da4;
  font-family: 'Umhlanga', sans-serif;
  font-size: 52px;

  &:hover {
    color: #7f5da4;
  }
}

.institucional-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #636361;
  text-transform: uppercase;

  &:hover {
    color: #636361;
  }
}
