#rodape .institucional {
  background: #f7ed92;
  padding: 40px 0;
}

.institucional-lead {
  color: #7f5da4;
  font-family: 'Umhlanga', sans-serif;
  font-size: 6em;
  line-height: 1;

  &:hover {
    color: #7f5da4;
  }
}

.institucional-text {
  color: #636361;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 1.2px;

  &:hover {
    color: #636361;
  }
}

.institucional-lead,
.institucional-text {
  text-transform: uppercase;
}
