// Header
// =====================================================

.barra-inicial {
  display: none;
  background-color: #fff;
}

.conteudo-topo {
  .superior {
    display: none;
  }

  .busca {
    display: none;
  }
}

#cabecalho {
  background-color: #7f5da4;
  border-radius: 0 0 20px 20px;
  position: fixed;
  width: 100%;
  z-index: 11;

  .conteiner {
    background-color: transparent;
  }
}

.logo a {
  height: 66px;
}

.menu.superior {
  display: none;
}

.conteiner-principal .conteiner {
  padding: 0;
  box-shadow: none;
}

.secao-banners {
  .conteiner {
    padding-top: 33px;
  }

  .flexslider {
    border-radius: 0;
    border-width: 0;
  }
}

.secao-banners .banner.cheio {
  margin: auto;
  max-width: 1400px;
  width: 100%;
}

.carrinho {
  border-width: 0;
  padding: 11px 0;
  text-align: center;

  > a > * {
    float: initial;
  }

  > a i {
    display: inline;
    line-height: 24px;
  }

  &.vazio > a span {
    display: none;
  }
}

.fundo-principal {
  background-color: transparent;
}

.icon-shopping-cart:before {
  content: '';
  background-image: url('https://raw.githubusercontent.com/thiagobraga/jojopaper.com.br/master/images/icon-sacola.svg');
  background-repeat: no-repeat;
  width: 31px;
  height: 40px;
}
