.vitrine-destaque {
  cursor: default;
  color: #7c7b7b;
  text-align: center;
  text-transform: uppercase;

  &.borda-principal {
    border-width: 0;
  }

  strong {
    font-weight: 600;

    &::after {
      content: '';
      background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAPBAMAAAAbqIIhAAAAKlBMVEUAAAB/XaR/XaR/XaR/XaR/XaR/XaR/XaR/XaR/XaR/XaR/XaR/XaR/XaTDvpLgAAAADXRSTlMAEJ/PQCC/j4BQ73Aw7Ydc6AAAAFhJREFUCNdjYGB1YWBgdAkAErl3VzP03r0uwMB29+5dJSAuYJh7FwKuAiUg4AoS6yxclg1EgXUw2oIZlxgYGITBLAUgCygIFgIJQoTAgiAhiCBQCApmgggAwv9DW4ldKH8AAAAASUVORK5CYII=');
      background-position: center;
      background-repeat: no-repeat;
      display: block;
      margin: 4px auto;
      width: 18px;
      height: 16px;
    }
  }
}

.listagem {
  .titulo-categoria {
    &:hover {
      background: initial;
      padding-left: initial;
    }

    &:first-child {
      margin-top: 40px;
    }
  }

  .info-produto {
    text-align: center;
    padding-top: 20px;
  }

  .preco-produto > div {
    margin: 0;
  }

  .listagem-item {
    &:hover {
      .acoes-produto {
        bottom: initial;
      }

      .botao-comprar {
        box-shadow: 0 0 1px rgba(125, 70, 187, 0.75);
      }
    }

    .acoes-produto {
      background-color: transparent;
      border-width: 0;
      opacity: 1;
      position: initial;
      display: flex;
      justify-content: center;
    }

    .botao-comprar {
      background: transparent;
      border-color: #ccc;
      border-radius: 10px;
      color: #7c7b7b;
      font-size: 12px;
      font-weight: 400;
      padding: 4px 22px;
      position: relative;
      text-align: center;
      text-shadow: none;
      text-transform: uppercase;
      transition: all ease 0.25s;
      display: flex;
      flex-direction: row;

      &::before,
      &::after {
        content: '';
        background-repeat: no-repeat;
        background-size: 9px;
        position: absolute;
        left: 7px;
        top: 7px;
        right: 7px;
        height: 9px;
      }

      &::before {
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAPBAMAAAAbqIIhAAAAKlBMVEUAAAB/XaR/XaR/XaR/XaR/XaR/XaR/XaR/XaR/XaR/XaR/XaR/XaR/XaTDvpLgAAAADXRSTlMAEJ/PQCC/j4BQ73Aw7Ydc6AAAAFhJREFUCNdjYGB1YWBgdAkAErl3VzP03r0uwMB29+5dJSAuYJh7FwKuAiUg4AoS6yxclg1EgXUw2oIZlxgYGITBLAUgCygIFgIJQoTAgiAhiCBQCApmgggAwv9DW4ldKH8AAAAASUVORK5CYII=');
        background-position: center left;
      }

      &::after {
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAPBAMAAAAbqIIhAAAAKlBMVEUAAAB/XaR/XaR/XaR/XaR/XaR/XaR/XaR/XaR/XaR/XaR/XaR/XaR/XaTDvpLgAAAADXRSTlMAEJ/PQCC/j4BQ73Aw7Ydc6AAAAFhJREFUCNdjYGB1YWBgdAkAErl3VzP03r0uwMB29+5dJSAuYJh7FwKuAiUg4AoS6yxclg1EgXUw2oIZlxgYGITBLAUgCygIFgIJQoTAgiAhiCBQCApmgggAwv9DW4ldKH8AAAAASUVORK5CYII=');
        background-position: center right;
        right: 7px;
      }

    }

    .nome-produto {
      color: #7c7b7b;
      font-size: 12px;
      font-weight: 600;
      min-height: initial !important;
      text-align: center;
      text-transform: uppercase;
    }

    .preco-produto {
      line-height: 1.25;
    }

    .preco-promocional {
      font-size: 11px;
      font-weight: 300;
    }
  }

  .listagem-linha {
    li {
      border-color: transparent;
    }
  }
}

.preco-venda {
  display: none;
}

.bandeiras-produto {
  display: none;
}
