// Footer
// =============================================================================
#rodape .pagamento-selos {
  padding: 80px 10px;

  @media (max-width: 767px) {
    padding: 40px 10px;
  }
}

#rodape > div:last-child .conteiner {
  padding: 0 20px;
}

.pagamento-selos {
  background: $purple;
  color: #fff;
}

.footer {
  display: flex;
  align-items: center;
  font-size: 15px;
  text-transform: uppercase;

  @media (max-width: 767px) {
    font-weight: 400;
    flex-direction: column;
  }

  @media (min-width: 768px) {
    font-weight: 600;

    > div {
      padding: 20px 50px;

      &:first-child {
        padding-left: 0;
      }
    }
  }

  ul {
    margin: 0;

    li {
      padding: 4px 0;
    }

    li:not(:last-child) {
      margin-bottom: 4px;
    }
  }

  a {
    color: #fff;
    transition: color ease 0.25s;
    display: flex;
    align-items: center;

    &:hover {
      color: $light-purple;
    }
  }
}

.footer-links {
  margin-left: 0;

  @media (max-width: 767px) {
    text-align: center;
    order: 1;
  }
}

.footer-atendimento {
  font-size: 12px;
  line-height: 1.6;

  p {
    margin-bottom: 20px;
  }

  p:not(:first-child) {
    margin-bottom: 0;
  }

  span {
    text-transform: initial;
  }

  @media (max-width: 767px) {
    text-align: center;
    margin-top: 50px;
    opacity: 0.9;
    order: 3;
  }
}

.footer-social {
  @media (max-width: 767px) {
    margin-top: 50px;
    order: 2;
  }

  ul {
    text-align: center;

    @media (max-width: 767px) {
      li {
        display: inline-block;
        margin: 0 5px;
      }
    }

    @media (min-width: 768px) {
      float: left;
    }
  }

  i {
    font-size: 1.8em;
    width: 25px;
  }

  span {
    margin-left: 10px;
  }

  @media (max-width: 767px) {
    text-align: right;
  }
}

.footer-links,
.footer-atendimento {
  border-right: 1px solid rgba(#fff, 35%);

  @media (max-width: 767px) {
    border-right: 0;
  }
}

#rodape .footer-bottom .conteiner {
  // 20% darker
  background-color: #4d3863;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.75px;
  max-width: 100%;
}

#rodape > div:last-child .conteiner {
  padding: 20px;
}

.footer-bottom-text,
.footer-bottom-copyright,
.footer-logo-container {
  text-align: center;
  min-height: 20px;
  width: 100%;
}

.footer-bottom-text,
.footer-logo-container {
  color: #fff;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 0.75px;

  a {
    color: #fff;
    transition: color ease 0.25s;
    font-weight: 600;
    letter-spacing: 0;

    &:hover {
      color: $light-purple;
    }
  }
}

// Logo da Loja Integrada
.footer-logo-container {
  color: #fff;
  margin-top: 10px;

  .logo-loja-integrada {
    height: 22px;
  }
}
