#rodape .pagamento-selos {
  padding: 80px 0;

  @media (max-width: 767px) {
    padding: 40px 0;
  }
}

#rodape > div:last-child .conteiner {
  padding: 0 20px;
}

.pagamento-selos {
  background: #7f5da4;
  color: #fff;
}

.footer {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  display: flex;
  align-items: center;

  > div {
    padding: 20px 50px;

    &:first-child {
      padding-left: 0;
    }
  }

  ul {
    margin: 0;

    li {
      padding: 4px 0;
    }

    li:not(:last-child) {
      margin-bottom: 4px;
    }
  }

  a {
    color: #fff;
    transition: color ease 0.25s;

    &:hover {
      color: #dcbaff;
    }
  }
}

.footer-links {
  margin-left: 0;
}

.footer-atendimento {
  font-size: 12px;
  line-height: 1.6;

  p {
    margin-bottom: 20px;
  }

  p:not(:first-child) {
    margin-bottom: 0;
  }

  span {
    text-transform: initial;
  }

  @media (max-width: 767px) {
    text-align: center;
  }
}

.footer-social {
  ul {
    float: left;
    text-align: center;
  }

  i {
    font-size: 1.8em;
  }

  @media (max-width: 767px) {
    text-align: right;
  }
}

.footer-links,
.footer-atendimento {
  border-right: 1px solid #fff;

  @media (max-width: 767px) {
    border-right: 0;
  }
}
