// Pagamento Selos

#rodape .pagamento-selos {
  padding: 80px 0;
}

.pagamento-selos {
  background: #7f5da4;
  color: #fff;

  ul {
    margin: 0;
  }

  a {
    color: #fff;
    transition: color ease 0.4s;

    &:hover {
      color: #ddd;
    }
  }
}

.footer {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  display: flex;
  align-items: center;

  ul {
    li {
      padding: 4px 0;
    }

    li:not(:last-child) {
      margin-bottom: 4px;
    }
  }
}

.footer-links,
.footer-atendimento {
  border-right: 1px solid #fff;
}

.footer-atendimento,
.footer-newsletter {
  font-size: 12px;
  line-height: 1.6;
}

.footer-atendimento span {
  text-transform: initial;
}

.footer-social {
  text-align: center;

  i {
    font-size: 1.8em;
  }
}

.footer-newsletter {
  text-align: right;

  input {
    width: 225px;
  }
}

.footer-bottom-links {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1.2px;
  text-transform: uppercase;

  ul {
    margin-top: 80px;

    li {
      float: left;
      margin-right: 20px;
    }
  }
}
