// Header
// =====================================================
.secao-banners {
  // Distância da altura da navbar
  padding-top: 66px;

  @media (max-width: 767px) {
    padding-top: 60px;
  }
}

.header-background {
  background: url('https://raw.githubusercontent.com/thiagobraga/jojopaper.com.br/master/src/images/banners/banner-2019-05.jpg');
  background-position: left 50% top 25%;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 610px;

  @media (max-width: 967px) {
    background-position: left 50% top 0;
    background-size: cover;
    height: calc(100vh - 60px);
  }

  .conteiner {
    background: transparent;
  }

  p {
    color: #fff;
    font-family: 'Umhlanga', sans-serif;
    font-size: 5em;
    line-height: 1;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.05);
    text-transform: uppercase;

    @media (max-width: 767px) {
      font-size: 4em;
      line-height: 1.1;
    }
  }
}

.conteiner-principal .header-background .conteiner {
  padding: 40px 20px;
}

.barra-inicial {
  display: none;
  background-color: #fff;
}

.conteudo-topo {
  @media (min-width: 768px) {
    .superior {
      display: none;
    }
  }

  .busca {
    display: none;
  }

  .busca-mobile {
    background: none;
    border-radius: 0;
  }
}

#cabecalho {
  border-radius: 0;
  position: fixed;
  width: 100%;
  z-index: 11;

  @media (max-width: 767px) {
    padding-top: 60px;
  }

  @media (min-width: 768px) {
    background-color: #7f5da4;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15);
  }

  .conteiner {
    background-color: transparent;
    padding: 0 40px;
    position: relative;

    @media (max-width: 767px) {
      padding: 0;

      > .row-fluid > .span3 {
        display: none;
      }

      > .row-fluid [class*="span"] {
        min-height: 0;
        padding: 0;
      }
    }
  }
}

.logo {
  a {
    height: 66px;

    img {
      display: block;
      margin: initial;
      padding: 13px 0;
      position: initial;
    }
  }
}

.menu.superior {
  background-color: transparent;

  @media (min-width: 768px) {
    margin-top: 12px;
    position: absolute;
    right: 100px;
    top: 0;
  }

  .nivel-um {
    display: block;
    margin: 0;

    @media (max-width: 767px) {
      background-color: #60467c;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
      transform: scaleY(0);
      transform-origin: top;
      transition: transform ease 0.4s, padding ease 0.4s;
    }

    .titulo {
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      font-weight: 400;

      @media (max-width: 767px) {
        font-size: 14px;
      }
    }

    > li {
      background-color: transparent;
      border: 0;
      padding: 0 10px;

      strong {
        color: rgba(255,255,255,0.8);
        font-size: 14px;
        font-weight: 400;
        margin: 10px 0;
        text-transform: uppercase;
        transition: color ease 0.25s;
      }

      &:last-child {
        border-right: 2px solid #7f5da4;
      }

      &:hover {
        border-top-width: 0;
        margin-top: 0;

        strong {
          color: #dcbaff;
        }
      }
    }

    @media (max-width: 767px) {
      border: 0;

      > li:last-child {
        border-right: 0;
      }

      &.active {
        margin: 0;
        transform: scaleY(1);
        padding: 10px 0;
      }
    }
  }
}

.conteiner-principal .conteiner {
  box-shadow: none;
}

.fundo-principal {
  background-color: transparent;
}

.atalhos-mobile {
  background-color: #7f5da4;
  border: 0;
  border-bottom: 1px solid #725393;
  box-sizing: border-box;
  height: 60px;

  .atalho-menu {
    background: url('data:image/svg+xml;base64,PHN2ZyBhcmlhLWhpZGRlbj0idHJ1ZSIgZm9jdXNhYmxlPSJmYWxzZSIgZGF0YS1wcmVmaXg9ImZh%0D%0AcyIgZGF0YS1pY29uPSJiYXJzIiBjbGFzcz0ic3ZnLWlubGluZS0tZmEgZmEtYmFycyBmYS13LTE0%0D%0AIiByb2xlPSJpbWciIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0i%0D%0AMCAwIDQ0OCA1MTIiPjxwYXRoIGZpbGw9ImN1cnJlbnRDb2xvciIgZD0iTTE2IDEzMmg0MTZjOC44%0D%0AMzcgMCAxNi03LjE2MyAxNi0xNlY3NmMwLTguODM3LTcuMTYzLTE2LTE2LTE2SDE2QzcuMTYzIDYw%0D%0AIDAgNjcuMTYzIDAgNzZ2NDBjMCA4LjgzNyA3LjE2MyAxNiAxNiAxNnptMCAxNjBoNDE2YzguODM3%0D%0AIDAgMTYtNy4xNjMgMTYtMTZ2LTQwYzAtOC44MzctNy4xNjMtMTYtMTYtMTZIMTZjLTguODM3IDAt%0D%0AMTYgNy4xNjMtMTYgMTZ2NDBjMCA4LjgzNyA3LjE2MyAxNiAxNiAxNnptMCAxNjBoNDE2YzguODM3%0D%0AIDAgMTYtNy4xNjMgMTYtMTZ2LTQwYzAtOC44MzctNy4xNjMtMTYtMTYtMTZIMTZjLTguODM3IDAt%0D%0AMTYgNy4xNjMtMTYgMTZ2NDBjMCA4LjgzNyA3LjE2MyAxNiAxNiAxNnoiPjwvcGF0aD48L3N2Zz4=');
    background-size: cover;
    border: 0;
    filter: invert(1);
    height: auto;
    opacity: 0.9;
    padding: 0;
    right: 15px;
    top: 15px;
    width: 25px;
    z-index: 1000;

    &::before {
      content: '';
    }
  }

  .icon-home {
    background: transparent url('https://cdn.awsli.com.br/400x300/843/843617/logo/5e39b01c52.png') no-repeat;
    padding: 8px 30px 0;
    top: 10px;

    &::before {
      content: '';
    }
  }

  .icon-user {
    display: none;
  }

  ul {
    height: 60px;
  }

  li {
    border: 0;

    &:first-child {
      margin-left: 20px;
    }
  }

  a {
    padding: 0 20px;
    top: 8px;
  }
}
