// Header
// =====================================================
.secao-banners {
  // Distância da altura da navbar com uma
  // pequena compensação do border-radius
  padding-top: 50px;
}

.header-background {
  background: url('https://raw.githubusercontent.com/thiagobraga/jojopaper.com.br/master/src/images/banner.jpg');
  background-position: left 50% top 25%;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 610px;

  @media (max-width: 967px) {
    background-position: left 50% top 0;
    background-size: cover;
    height: 500px;
  }

  .conteiner {
    background: transparent;
  }

  p {
    color: #fff;
    font-family: 'Umhlanga', sans-serif;
    font-size: 5em;
    line-height: 1;
    text-transform: uppercase;
  }
}

.conteiner-principal .header-background .conteiner {
  padding: 40px 20px;
}

.barra-inicial {
  display: none;
  background-color: #fff;
}

.conteudo-topo {
  .superior {
    display: none;
  }

  .busca {
    display: none;
  }
}

#cabecalho {
  background-color: #7f5da4;
  border-radius: 0 0 20px 20px;
  position: fixed;
  width: 100%;
  z-index: 11;

  .conteiner {
    background-color: transparent;
    padding: 0 20px;
  }
}

.logo {
  a {
    height: 66px;

    img {
      display: block;
      margin: initial;
      padding: 13px 0;
      position: initial;
    }
  }
}

.menu.superior {
  display: none;
}

.conteiner-principal .conteiner {
  padding: 0;
  box-shadow: none;
}

.fundo-principal {
  background-color: transparent;
}
