// Institucional
#rodape .institucional {
  background: #f7ed92;
  padding: 40px 20px;

  .conteiner {
    padding: 0;

    > .row-fluid {
      display: flex;
      align-items: center;

      @media (max-width: 767px) {
        flex-direction: column;
      }
    }
  }
}

.institucional-lead {
  color: #7f5da4;
  font-family: 'Umhlanga', sans-serif;
  font-size: 5.3em;
  line-height: 1;

  &:hover {
    color: #7f5da4;
  }

  @media (max-width: 767px) {
    font-size: 4.5em;
    text-align: center;
    margin-bottom: 40px;
  }
}

.institucional-photo {
  @media (max-width: 767px) {
    max-width: 200px;
    max-height: 200px;
    margin-bottom: 40px;
  }
}

.institucional-text {
  color: #636361;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 1.2px;
  flex-basis: 100%;

  &:hover {
    color: #636361;
  }

  @media (max-width: 767px) {
    font-size: 12px;
    text-align: justify;
  }
}

.institucional-lead,
.institucional-text {
  text-transform: uppercase;
}

.institucional-photo,
.institucional-text {
  margin-left: 3.75%;

  @media (max-width: 767px) {
    margin-left: initial;
  }
}
