.instagram {
  background-color: #e2e2e1;
  box-sizing: border-box;
  color: #7c7b7b;
  cursor: default;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1.5px;
  min-height: 454px;
  padding: 40px 20px;
  text-align: center;
  text-transform: uppercase;

  .flexslider {
    background-color: transparent;
  }
}

.instagram-titulo {
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 40px;
}

.instagram-container {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-right: -.5rem;
  margin-left: -.5rem;
}

.instagram-photo {
  transition: all ease 0.25s;

  &:hover {
    box-shadow: 0 0 4px 1px rgba(127, 93, 164, 0.35);
    transform: scale(1.005);
  }
}
