.instagram {
  background-color: #e2e2e1;
  box-sizing: border-box;
  color: #7c7b7b;
  cursor: default;
  min-height: 454px;
  padding: 40px 20px;
  text-align: center;
  text-transform: uppercase;

  .flexslider {
    background-color: transparent;
    border: 0;
    overflow: visible;
  }

  .flex-direction-nav {
    a {
      background: none;
    }

    .flex-prev {
      left: -25px;

      &::before {
        content: '';
        background: url(https://cdn.awsli.com.br/production/static/loja/estrutura/v1/img/nav-thumbs.png) 0 0;
        display: block;
        width: 30px;
        height: 30px;
      }
    }

    .flex-next {
      right: -25px;

      &::before {
        content: '';
        background: url(https://cdn.awsli.com.br/production/static/loja/estrutura/v1/img/nav-thumbs.png) -90px 0;
        display: block;
        width: 30px;
        height: 30px;
      }
    }
  }

  .flexslider:hover .flex-direction-nav {
    .flex-prev {
      left: -35px;
    }

    .flex-next {
      right: -35px;
    }
  }

  .carousel li {
    margin-right: 40px;
  }
}

.instagram-titulo {
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 40px;
}

.instagram-container {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-right: -.5rem;
  margin-left: -.5rem;
}
